/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end of css reset */
body {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #ffbf00;
  background-color: #272727;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

main {
  max-width: 800px;
  margin: 50px auto;
}

.bold {
  font-weight: 500;
}

@keyframes entry {
  0% {
    left: 100%;
  }

  70% {
    left: -10%;
  }

  100% {
    left: 0%;
  }
}

#welcome {
  animation-name: entry;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  position: relative;
}

button,
button:visited,
.button,
.button:visited,
.poke-button,
.poke-button:visited {
  display: inline-block;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 16px;
  min-width: 150px;
  text-align: center;
  color: #ffbf00;
  text-decoration: none;
  background-color: transparent;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ffbf00;
  transition: background-color .5s;
  margin: 20px 0;
}

button:hover,
button:active,
.poke-button:hover,
.poke-button:active {
  background-color: #ffbf00;
  color: #272727;
  cursor: pointer;
}

.buttton {
  display: inline-block;
  width: 33%;
}

@supports (display: grid) {
  .pokemon-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1024px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 640px) {
  .pokemon-list {
    grid-template-columns: 1fr;
  }
}
